*{
    box-sizing: border-box;
 
}

body{
    display: flex;
    justify-content: center;
}

.interaction-zone{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    height: 34px;
    width: 32px;
}

.paw-logo{
    background-color: red;
    background: rgb(231,60,10);
    background: linear-gradient(29deg, rgba(231,60,10,1) 30%, rgba(255,0,71,1) 68%);
    padding: 0.5rem 2rem;
    border-radius: 1.2rem;
}

.paw-icon{
    width: 20px;
    height: 20px;
}

.dog-zone{
    margin-top: 1.5em;
    position: relative;
}

.dog-pic{
    width: 100%;
    border-radius: 1rem ;
}

.dog-info{
    position: absolute;
    bottom: 2em;
    left: 1em;
}

.dog-name-age{
    color: #f8f8f8;
    font-weight: bold;
    margin-bottom: 0.3em;
    font-size: 2rem;
}

.dog-saying{
    font-size: 1.5rem;
    color: #B7B7B7;
}